* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background: #252323;
  height: 100vh;
  text-align: center;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: row;
  height: 88%;
  width: 100%;
}

.news-container {
  width: 85%;
  height: 98%;
  overflow: scroll;
}
