.search-container {
  display: flex;
}

#search-articles-input {
  width: 30%;
  margin: 1vw 1.2vw 1vw auto;
  font-size: 1.3em;
  font-family: 'Open Sans Condensed', sans-serif;
  padding: .2vw .7vw;
  border-radius: 5px;
  border: none;
}
